---
import Layout from '../layouts/Layout.astro';
import '../styles/normalize.css'
import '../styles/button.css'
import { Image } from 'astro:assets';
import pigeons from '../assets/Pigeons.png'
import pirate from '../assets/Pirate.png'
import cloud1 from '../assets/Cloud1.png'
import cloud2 from '../assets/Cloud2.png'
import cloud3 from '../assets/Cloud3.png'
import crew from '../assets/Crew.jpg'

const crewList =
	[
		{
			name: "Sibel Metinoglu",
			role: "Art, 3D, Tech-Art",
		},
		{
			name: "Denise Meier",
			role: "Producing, Game Design",
		},
		{
			name: "Sebastian Burckhardt",
			role: "Programming Lead, Game Design, Sound Design",
		},
		{
			name: "Noe Mael Arnold",
			role: "Art Lead, 2D, Animation",
		},
		{
			name: "Pietro Peduzzi",
			role: "Programming, Art, Allrounder",
		}
	]

// Shuffle function using the Fisher-Yates algorithm
function shuffle(array) {
	let currentIndex = array.length, randomIndex;
	while (currentIndex !== 0) {
		randomIndex = Math.floor(Math.random() * currentIndex);
		currentIndex--;
		[array[currentIndex], array[randomIndex]] = [array[randomIndex], array[currentIndex]];
	}
	return array;
}

// Shuffle the crewList array
const shuffledCrewList = shuffle([...crewList]);
---

<Layout title="Pirate Pigeons">
	<main>
		<section class="hero-section">
			<!--<h1 class="main-title debug">Pirate Pigeons 🕊</h1>-->
			<div class="cloud-container">
				<Image src={cloud3} class="initialCloud" alt="Cloud 1" />
				<Image src={cloud1} class="firstCloud" alt="Cloud 2" />
				<Image src={cloud2} class="secondCloud" alt="Cloud 3" />
				<Image src={cloud3} class="thirdCloud" alt="Cloud 1" />
				<Image src={cloud2} class="secondInitialCloud" alt="Cloud 3" />
			</div>
			<div class="hero-section-content">
				<div class="title-container">
					<Image src={pirate} alt="Pirate Pigeon" />
					<Image src={pigeons} alt="Pirate Pigeon" />
				</div>
				<div class="video-container">
					<iframe src="https://www.youtube-nocookie.com/embed/oWCAtd0UUcQ?vq=hd1080&modestbranding=1&rel=0" width="560" height="315" title="Pirate Pigeons - 3D couch coop - Trailer - 2021" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="social-media-container">
					<!-- Twitter (or X I guess lol) -->
					<a href="https://twitter.com/PiratePigeons" target="_blank" rel="noopener noreferrer">
						<button>
							<span class="button_top_twitter">
								<svg class="turn-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Twitter</title><path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
								Twitter
							</span>
						</button>
					</a>
						<!-- Instagram -->
					<a href="https://www.instagram.com/pirate_pigeons/" target="_blank" rel="noopener noreferrer">
						<button>
							<span class="button_top_instagram">
								<svg class="turn-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>instagram</title><path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" /></svg>
								Instagram
							</span>
						</button>
					</a>
					<!-- Google Form -->
					<a href="https://forms.gle/jppudaUSsF7rx8Xt8" target="_blank" rel="noopener noreferrer">
						<button>
							<span class="button_top_forms">
								<svg class="turn-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>list-box-outline</title><path d="M11 15H17V17H11V15M9 7H7V9H9V7M11 13H17V11H11V13M11 9H17V7H11V9M9 11H7V13H9V11M21 5V19C21 20.1 20.1 21 19 21H5C3.9 21 3 20.1 3 19V5C3 3.9 3.9 3 5 3H19C20.1 3 21 3.9 21 5M19 5H5V19H19V5M9 15H7V17H9V15Z" /></svg>
								Feedback
							</span>
						</button>
					</a>
				</div>
			</div>
		</section>
		<section class="team-section">
			<h1 class="team-section-title">CREW</h1>
			<Image src={crew} class="crew-image" alt="Pirate Pigeon Crew Members as Pigeons" />
			<div class="crew-container">
				{
					shuffledCrewList.map((crewMember) => (
						<div class="crew-container-text">
							<h4>{crewMember.name}</h4>
							<p>{crewMember.role}</p>
						</div>
					))
				}
			</div>
		</section>
	</main>
</Layout>

<style>

	.turn-white {
		filter: brightness(0) invert(1);
	}

	.cloud-container {
		position: absolute;
		z-index: 2; /* Adjusted z-index */
		overflow: hidden;
		height: 100vh;
		width: 100vw;
	}

	.initialCloud {
		position: absolute;
		left: 100%;
		top: 80px;
		animation: moveFirst 65s linear .2s;
		animation-iteration-count: 1;
		height: 180px;
		width: auto;
	}

	.secondInitialCloud {
		position: absolute;
		left: 100%;
		top: 270px;
		animation: moveSecond 85s linear .2s;
		animation-iteration-count: 1;
		height: 180px;
		width: auto;
	}

	.firstCloud {
		position: absolute;
		left: -30%;
		top: 320px;
		animation: move 136s linear 38s infinite;
	}

	.secondCloud {
		position: absolute;
		left: -30%;
		top: 50px;
		animation: move 142s linear 70s infinite;
		height: 150px;
		width: auto;
	}

	.thirdCloud {
		position: absolute;
		left: -30%;
		top: 170px;
		animation: move 130s linear 5s infinite;
		height: 170px;
		width: auto;
	}

	@-webkit-keyframes move {
		from {
			left: -20%;
		}
		to {
			left: 100%;
		}
	}

	@-webkit-keyframes moveFirst {
		from {
			left: 50%;
		}
		to {
			left: 100%;
		}
	}

	@-webkit-keyframes moveSecond {
		from {
			left: 10%;
		}
		to {
			left: 100%;
		}
	}

	section {
		height: 100dvh;
	}

	.hero-section {
		position: relative;
		z-index: 1; /* Adjusted z-index */
		text-align: center;
		background-image: linear-gradient(to bottom, transparent, transparent 85%, #495860 100%, #495860), url('../assets/Background.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.hero-section-content {
		position: relative;
		z-index: 3; /* Added z-index */
	}

	.team-section {
		background-color: #495860;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.team-section-title {
		padding: 2rem 0;
		color: #896746;
		-webkit-text-stroke: 1px #fefdf9;
		letter-spacing: 2px;
	}

	.team-section * {
		-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	}

	.crew-image {
		border-radius: 0.75em;
		width: 40%;
		height: auto;
	}

	.crew-container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		width: 95%;
		height: auto;
		padding: 2rem 0;
	}

	.crew-container-text {
		padding: 1rem 0.5rem;
		text-align: center;
	}

	.crew-container-text h1, p {
		margin: 0;
		padding: 0;
	}

	.crew-container-text h4 {
		color: #e8b85c;
		letter-spacing: 2px;
	}

	.crew-container-text p {
		color: #d6d7d7;
	}

	.title-container {
		position: relative;
		z-index: 2;
		padding: 2rem 0;
		-webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	}

	.title-container img {
		width: auto;  /* or any desired width */
		height: 200px;  /* maintains the aspect ratio */
	}

	.video-container {
		position: relative;
		width: 50%;  /* Adjusted to 1/2 for larger screens */
		padding-bottom: 28.125%;  /* Adjusted to maintain aspect ratio */
		margin: auto;  /* Center the container */
		-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
		animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	}

	.video-container iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 0.75em;
		border: solid 7px white;
		box-sizing: border-box;
	}

	.social-media-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 2rem;
	}

	.social-media-container a:not(:first-child) {
		margin-left: 0.5rem;
	}

	.social-media-container svg {
		width: 2rem;
		height: 2rem;
		margin: 0 0.3em;
	}

	/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
	@-webkit-keyframes swing-in-top-fwd {
		0% {
			-webkit-transform: rotateX(-100deg);
			transform: rotateX(-100deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 0;
		}
		100% {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 1;
		}
	}
	@keyframes swing-in-top-fwd {
		0% {
			-webkit-transform: rotateX(-100deg);
			transform: rotateX(-100deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 0;
		}
		100% {
			-webkit-transform: rotateX(0deg);
			transform: rotateX(0deg);
			-webkit-transform-origin: top;
			transform-origin: top;
			opacity: 1;
		}
	}

	@media (max-width: 1200px) {

		.video-container {
			width: 70%;  /* Adjusted to 70% for larger screens */
			padding-bottom: 39.375%;  /* Adjusted to maintain aspect ratio */
		}

		.title-container img {
			height: 170px;
		}

		.initialCloud {
			top: 50px;
			height: 100px;
			width: auto;
		}

		.secondInitialCloud {
			top: 80px;
			height: 100px;
			width: auto;
		}

		.firstCloud {
			top: 200px;
			height: 100px;
			width: auto;
		}

		.secondCloud {
			top: 50px;
			height: 100px;
			width: auto;
		}

		.thirdCloud {
			top: 100px;
			height: 100px;
			width: auto;
		}
	}

	/* Media Query for smaller screens */
	/* TODO also check max-height because of video size on smaller screens, also fix whitespace right and top sides because of pulling down */
	@media (max-width: 960px) {

		.title-container {
			padding: 1rem 0;
		}

		.title-container img {
			height: 150px;
		}

		.video-container {
			width: 90%;  /* Adjusted to 90% for larger screens */
			padding-bottom: 50.625%;  /* Adjusted to maintain aspect ratio */
		}

		.cloud-container {
			display: none;
		}

		.social-media-container {
			padding: 1rem 0;
		}

		.crew-image {
			width: 70%;
		}
	}

	@media (max-width: 920px) , (max-height: 1370px) and (orientation: portrait){

		.team-section {
			height: auto;
		}

		.title-container img {
			height: 130px;
		}

		.hero-section{
			height: auto;
		}

		.social-media-container {
			padding: 1rem 0;
		}

		.video-container iframe {
			border: solid 5px white;
		}

		.initialCloud {
			top: 50px;
			height: 70px;
			width: auto;
		}

		.secondInitialCloud {
			top: 200px;
			height: 70px;
			width: auto;
		}

		.firstCloud {
			top: 200px;
			height: 70px;
			width: auto;
		}

		.secondCloud {
			top: 50px;
			height: 70px;
			width: auto;
		}

		.thirdCloud {
			top: 100px;
			height: 70px;
			width: auto;
		}
	}

	@media (max-width: 768px) {
		.title-container img {
			height: 100px;
		}

		.crew-container {
			padding-top: 1rem;
		}
	}

	@media (max-width: 500px) {
		.title-container img {
			height: 75px;
		}

		.team-section-title {
			padding: 0;
		}

		.video-container iframe {
			border: solid 3px white;
		}
	}
</style>
